:root{
    --colbg:#e0e0e0;
    --colinputfocus:#1f1f1f;
    --colinputhover:#999;
    --coltop:white;
    --colshadow:rgba(0,0,0,0.5);
    --boxshadow:0 0 8px 1px rgba(0,0,0,0.5);
}
/* width */
::-webkit-scrollbar {
    width:10px;
    z-index: -100;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--colbg);
    padding:5px;
    margin:5px;
    border:1px solid var(--colinputhover);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--colinputhover);
}

*{
    outline:none;
    transition:0.5s ease-out;
}
*:focus{
    box-shadow:none !important;
}
body{
    background-color:var(--colbg);
}
a{
    color:var(--colshadow);
}
a:hover{
    text-decoration:none;
    color:var(--colinputfocus);
}
.maindiv{
    width:100vw;
    height:100%;
    margin:0;
    min-height: 100vh;
    background-color: var(--colbg);
    position:fixed;
    z-index: -10;
    transition:none;
    overflow: hidden;
}
.homemain{
    padding-top:2em;
}
.shad{
    box-shadow:var(--boxshadow);
}
.maindiv>.container{
    width:100%;
}
.signinpanel{
    position:relative;
    left:50%;
    transform:translate(-50%, calc(50vh - 50%));
    padding:50px;
    background-color:var(--coltop);
    border-radius:10px;
    transition: 0.5s ease-out;
}
.signinheadmarg{
    margin-bottom:1.5em;
}
.searchpanel{
    top:0px;
    margin-top:0px;
    padding-top:2em;
    min-height:100vh;
    height:100%;
    overflow:scroll;
    background-color:var(--coltop);
    box-shadow:2px 0 8px 1px var(--colshadow);
    transition: 0.5s ease-out, height 0s linear;
}
.searchcontainer{
    position: relative;
/*
    top:50%;
    transform:translateY(calc(-50%));
*/
    padding-top:3em;
    padding-bottom:3em;
    display:block;
    align-items: center;
    text-align:center;
}
.searchresult{
    display:inline-flex;
    top:0px;
    float:left;
    height:100%;
    min-height: height:100vh;
    overflow:scroll;
}
.searchresult input{
    bottom:1em;
    border-radius: 4px;
    position:absolute;
    width:94%;
}
.result{
    margin-top:2em;
    padding:1.75em;
    border-radius:1em;
    border:1px solid var(--colinputhover);
    transition:0.25s ease-out;
}
.chat2.result, .chat.result{
    margin-top:0.7em;
    padding:0.5em;
    display:flex;
    align-items:center;
    color:var(--colinputfocus);
    max-width: 90%;
}
.chat.result{
    padding:0.5em;
    border: 1px solid transparent;
    border-radius:4px;
    color:var(--colinputhover);
    width:100%;
}
.chat.result:hover, .chat.result:focus{
    color:var(--colinputfocus);
    cursor:pointer;
}
.chat.result:first-child, .chat2.result:first-child{
    margin-top:2em;
}
.chat.result>img{
    height:3em;
    width:3em;
    max-height: 100%;
    max-width: 100%;
    border-radius:50%;
    margin-right:1em;
}
.result:hover, .result:focus, .result:focus-within{
    border: 1px solid var(--colinputfocus);
}
.chat2:hover, .chat2:focus, .chat2:focus-within{
    border:1px solid var(--colinputhover);
}
.form-control:hover{
    border:1px solid var(--colinputhover);
}
.form-control:focus, .form-control:active{
    border-width:1px;
}
input{
    text-align: center;
    color: var(--colinputfocus);
    font-weight: 800;
}
.form-control:focus, .form-control:active, input[type=submit]:hover, input[type=button]:hover{
    border: 1px solid var(--colinputfocus);
    color: var(--colinputfocus);
}
input[type=submit]:hover, input[type=button]{
    background-color:var(--coltop);
}
header.head{
    position:fixed;
    top:0;
    width:100%;
    height:3em;
    background-color:var(--coltop);
    z-index: 100;
}
header.head>div{
  height:100%;
  display:flex;
  flex-flow: row-reverse;
  align-items: center;
}
header.head a{
    padding:1em;
    font-weight: 600;
}
header.head li{
    margin:5px;
    padding:1em;
    border-radius:0.5em;
    border: 1px solid transparent;
    background-color:var(--coltop);
    text-align:center;
    box-shadow:0 0 8px 0 rgba(0,0,0,0.5);
}
header.head li:hover, header.head li:focus{
    border:1px solid black;
}
header.head nav>ul{
    display:block;
    position:absolute;
    top:0;
    right:0;
    padding:0;
    margin:0;
    margin-top:4em;
    list-style-type:none;
    visibility:hidden;
    }
header.head nav:hover>ul, header.head nav:focus>ul{
    visibility:visible;
}
.right{
  float:right;
}
.left{
  float:left;
}
.grid{
    display:grid;
    grid-gap:1em;
    grid-auto-rows: minmax(2em, auto);
}
.grid.container{
    margin-top:3em
}
.gridbox{
    float:left;
    background-color: var(--coltop);
    /* border:1px solid black; */
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    filter:grayscale(0.7);
    border-radius:10px;
    transition: 0.5s ease-out;
    cursor:pointer;
    padding:1.5em 1.5em;
}
.gridbox:nth-child(1){
  background-image:url("dan-gold-aJN-jjFLyCU-unsplash.jpg");
}
.gridbox:nth-child(2){
  background-image:url("rui-silvestre-ul-ZsFLIjvw-unsplash.jpg");
}
.gridbox:hover{
  transition: 0.15s ease-out;
  box-shadow: 0 5px 10px 0 var(--colshadow);
  filter: grayscale(0.3);
}
.gridbox>div{
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 4em;
  font-weight: 500;
  text-shadow:0 0 20px black;
}
h3{
  margin-top:2em;
}
tr{
  cursor: pointer;
}
.table2{
  margin-bottom:5em;
}
.table tr, table tr td, table tr th{
    border:1px solid transparent;!important;
}
.table tr:hover, table tr:hover td, table tr:hover th{
    border-top: 1px solid var(--colinputfocus) !important;
    border-bottom: 1px solid var(--colinputfocus) !important;
    z-index:20;
}
/*
.val-true::before{
  display:block;
  width:8px;
  height:8px;
  border-radius:50%;
  content:"";
  background-color:red;
  position:absolute;
  right:8%;
}
*/
.val-true{
    border-color:red!important;
}
.profilepagedp{
    width: 25vh;
    height:25vh;
    border-radius:50%;
    overflow:hidden;
}
.profilepagedp img{
    max-width:100%;
    max-width: 100%;
}
.headdp{
    float:right;
    width:2em;
    height:2em;
    border-radius:500px;
    margin-left:1em;
    overflow:hidden;
}
.headdp img{
    max-width:100%;
    max-height:100%;
}
.profilehidden{
    display:none;
}